@charset "UTF-8";

* { 
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(lightseagreen, chartreuse)
    
}

header > h1 {
    text-align: center;
    padding: 20px;
    color: white;
}

section > form {
    background-color: lightseagreen;
    margin: auto;
    width: 350px;
    height: 170px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.365);
}

section > form > input {
    width: 354px;
    height: 25px;
    margin-top: 7px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}

section > form > input#botao {
    width: 354px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 15px;
    background-color: chartreuse;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.365);
}

section > form > input#botao:hover {
    background-color: rgb(106, 210, 3);
}

section > form > label {
    color: white;
}

